{% extends "base.html" %}

{% block titulo %}Intercambiar libro{% endblock %}

{% block body %}
<h2 id="titulo-form">SOLICITAR UN INTERCAMBIO</h2>

<form id="form-intercambio" action="{{ url_for('formulario_intercambio') }}" method="post">

  <div class="Fintercambio">
    <label><strong>Nombre:</strong></label>
    <input id="nombre-solicitante" type="text" name="nombre-solicitante" required>
  </div>

  <div class="Fintercambio">
    <label><strong>Apellido:</strong></label>
    <input id="apellido-solicitante" type="text" name="apellido-solicitante" required>
  </div>

  <div class="Fintercambio">
    <label><strong>Mail académico:</strong></label>
    <input id="mail-solicitante" type="email" name="mail-solicitante" required>
  </div>

  <!-- Libro que quiero pedir -->
  <input type="hidden" id="libro-solicitar" name="libro-solicitar" value="{{ libro_seleccionado }}">

  <!-- Propietario del libro -->
  <input type="hidden" name="propietario" value="{{ propietario }}">

  <div class="Fintercambio">
    <label><strong>Libro que ofrezco:</strong></label>
    <input id="libro-intercambiar" type="text" name="libro-intercambiar" required>
  </div>

  <button id="send-bt" type="submit">ENVIAR</button>

</form>
{% endblock %}