{% extends 'base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block body %}
<section>
    <div class="pag">
        <h1 class="titulo-pag">Sobre Nosotros</h1>
        <p>
            Somos un grupo de estudiantes que busca promover la colaboración y la solidaridad dentro de la comunidad universitaria, compartiendo conocimiento sin depender del dinero ni de la compra de materiales nuevos.
        </p>
        <p>
            Por eso desarrollamos una plataforma que facilita el intercambio de libros y apuntes entre alumnos, utilizando la biblioteca de la facultad como punto de encuentro físico para concretar los intercambios de manera sencilla y segura.
        </p>
    </div>

    <div class="pag">
        <h3 class="titulo-pag">Cómo surgió la idea</h3>
        <p>
            La idea nació al ver la dificultad que muchos estudiantes enfrentan para conseguir libros o apuntes. 
            Queríamos crear una herramienta práctica que permitiera ayudarnos entre nosotros, aprovechando los recursos que ya tenemos.
        </p>
    </div>

    <div class="pag">
        <h3 class="titulo-pag">Nuestro equipo</h3>
        <ul>
        
            <li>Lara Ovejero</li>
            <li>Abril Martinelli</li>
        </ul>
    </div>

    <div class="pag text-center">
        <p><em>Buscamos fomentar una comunidad universitaria más equitativa, donde el acceso al conocimiento sea libre, colaborativo y sustentable.</em></p>
    </div>
</section>

{% endblock %}